.planet-card {
  max-width: 350px;
  padding: 0;
  .card-link {
    text-decoration: none;
  }
  .planet-img {
    width: 100%;
    max-height: 350px;
  }
  .list-group {
    li {
      font-size: 18px;
    }
  }
  .btn-more-info {
    font-size: 18px;
  }
}
